<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/styles.css">
        <link rel="icon" href="https://seeklogo.com/images/F/flag-map-of-china-logo-9FB51EF8CF-seeklogo.com.png">
        <title> Do I have the Wuhan virus? :o</title>
    </head>

    <body>
        <h1>What is the Wuhan virus?</h1>
        <p id="para1">The Wuhan Novel Coronavirus is a deadly virus that was first discovered in Wuhan in December 2019 which is very contagious</p>
        <a href="https://www.theguardian.com/world/2020/feb/09/what-is-coronavirus-wuhan-china-virus-symptoms-doctor" id="linklink">Visit this link for more information</a><br><br><br>
        <form action = "/temperatured">
            Enter your temperature here:<br>
            <input type="number" step="0.1" name="temperature">
            <input type="submit" value="Submit">
        </form>
        <p id="youtube">You can watch this video if you like</p>
        <iframe width="600" height="300 " src="https://www.youtube.com/embed/t4vNVuy7Wyo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </body>
</html>
