<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lucky boy!</title>
    </head>
    <body>
        <h1>Normal</h1>
        <p id="nopls">Your temperature is {{ temperature }}, which is not the trigger tempearture of the Wuhan virus yet.</p>
        <p>But please remember to drink lots of water everyday and maintain your hygeine</p>
        <p>Hooyah.</p>
        <form action='/'>
            <input type="submit" value="Return">
        </form>
    </body>
</html>